# Ignore directories #
#####################
/bin
/include
/lib
/lib64
/share
/app/chroma_db
/chunks
/logs
/app/utils/__pycache__
/backend/chroma_db
/node_modules

# Ignore files #
################
*.cfg
*.bin
*.keep
.idea
__pycache__
