# Ignore directories #
#####################
/bin
/include
/lib
/lib64
/share
/chunks
backend/chunks
backend/logs/*
/app/utils/__pycache__
/node_modules
backend/chroma_db/*
backend/chunks/*

# Ignore files #
################
*.cfg
*.bin
*.keep
.idea
__pycache__

# Python #
##########
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg
*.egg-info
dist/
build/
*.manifest
*.spec

# Jupyter Notebooks #
#####################
.ipynb_checkpoints

# macOS #
#########
.DS_Store

# Windows #
###########
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# VS Code #
###########
.vscode/
